<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Add any custom configuration sections here -->
  </configSections>
  <appSettings>
    <add key="PhotoPath" value="D:\\ScreenSaver" />
    <add key="ZoomSpeed" value="0.01" />
  </appSettings>
  <!-- Add other configuration settings here -->
</configuration>